:root {
  --bg: #1e1e26;
  --bg-light: #1a1a21;
  --bg-dark: #16161c;
  --gradient: linear-gradient(249.73deg, #f29682 0%, #ee69ac 50%, #cb4bcf 100%);
  --gray: #d7d7d7;
  --info: #bbb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  font: 16px "Inter", sans-serif;
  font-family: 'Helvetica', 'Inter';
  color: #f9f9f9;
  background: var(--bg);

  min-height: 100vh;

  padding: 3rem 4rem;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Inter", sans-serif;
  font-family: 'Helvetica', 'Inter';
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
label {
  font-size: 1.5rem;
  font-weight: 600;
}

@keyframes up {
    to {
        transform: translateY(-1px)
    }
}

main {
  height: 100%;
  background-color: var(--bg-dark);
  border-radius: 5px;
  padding: 1rem 2rem 2rem;
  position: relative;
  min-height: 90vh;
}

header {
    position: absolute;
    height: 75px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-light);
    border-radius: 5px 5px 0 0;
    padding: .5rem 2rem;


}

.profile {
    height: 95%;
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 350px;
    color: var(--gray);
}

li:hover {
    transition: 0.3s;
    color: #ee69ac;
    transform: translateY(0px);
    animation: up .3s forwards;
}

.banner {
    margin-top: 75px;
    height: 375px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.banner .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.banner h2 {
    font-size: 60px;
}

.banner h1 {
    font-size: 70px;
    text-transform: capitalize;
    color:#ee69ac;
}

@keyframes rotate {
    to { 
        transform: rotateZ(360deg);
    }
}

.animation {
    height: 100%;
    display: flex;
    align-items: center;
    animation: rotate 4s linear;
    animation-iteration-count: infinite;
    padding: 0;
    margin: 0;
}

.animation div {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background: var(--gradient);
    position: relative;
    animation: rotate .7s linear;
    animation-iteration-count: infinite;
    /* animation-direction: alternate-reverse; */
}

.animation div::after {
    content: '';
    height: 95px;
    width: 95px;
    border-radius: 50%;
    background: var(--bg-dark);
    position: absolute;
    top: 15px;
    left: 15px;
}

.animation div:first-child {
    animation-delay: .3s;
    margin-right: 25px;
}